
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai");
@import url("https://fonts.googleapis.com/css?family=Abhaya+Libre");

* { 
    box-sizing: border-box; 
}

@mixin background-class-mixin($url,$contain_or_cover,$extra_color) {
    height:100%;
    background : $extra_color url($url) !important;
    background-size: $contain_or_cover !important;
    background-repeat: no-repeat !important;
    margin: 0 !important;
}

.mainpage {
    height:100vh;
}

body{
    
    letter-spacing: .2rem;
    padding:0px !important;
    background:#777;
}

.navbar {
    background-color:#e5ddcf !important;
    position:fixed;
    width: 100vw !important;
    z-index:998;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
}


/*----------------------------- home ------------------------------*/

footer {
    font-family: Julius Sans One;
    height:40vh !important;
    width:100vw;
    font-size:1.6em;//807d6argba(70,30,20
    background: linear-gradient(to right, #805d4a, #a08d7a, #805d4a);
    display:table-cell;
    text-align:center;
    vertical-align: middle;
    color:#FfFDFD;
}

div#body-shadower {
   position: absolute;
   height:102%;
   width:100%;
   background-color:#FDFDFD;
   opacity: 0;
   z-index:15;
   border:2px solid #FDFDFD;

}

#html {
    height:100%;
    overflow:hidden;
}

#home {
    margin:0;
    padding:0;
    -webkit-perspective: 1px;
    -webkit-transform-style: preserve-3d;
    	perspective: 1px;
    	transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}    

video {
    position:absolute;
    max-height:100vh;
    min-width:100vw;
    top:0;
    left:0;
    margin:0;
    z-index:-1;
    filter: saturate(80%) opacity(60%);
    transform: translateZ(-1px) scale(2);
    transform-style: preserve-3d;
        -webkit-transform: translateZ(-1px) scale(2);
        -webkit-transform-style: preserve-3d;
}
     
.header-text {
    position: relative;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
   // 
	transform-style: inherit;
	transform-origin: 50% 100%;

    height:100vh;
    letter-spacing: .5rem;
    text-shadow: 0 2px 2px #000;
    text-align:center;


    & h1 { font-size:6.5em; color: #cfb5a0; font-family: Arima Madurai; }
    & h2 { font-size:4.5em; color:#dfc5b0 ;font-family: Julius Sans One; }

}

.home-body {
   position: relative;
   min-height: 100vh;
   width: 100vw;
   box-sizing: border-box;
   box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
   transform-style: inherit; 
   background: #e5ddcf!important;
}    

.home-polls {

    padding:5%;
    font-family: Julius Sans One;
    
    &>h2{
           text-align:center;

        font-family: Julius Sans One !important;
        color:#504d3a !important;
        font-size:3em !important;
        margin:1.2em 0;
    }
    
}

#or:before, #or:after {
        
        width:20vw;
        height:20px;
        background:#777;
}

/*------------- cards grid - home  -------------*/

.cardsGrid {
    background-color: #FDFDFD !important;
    padding: 2%;
}

.card {
 
	width: 100% !important;
	background:#fff !important;
	font-family: EB Garamond, serif !important;
}


.header {
    color:#444 !important;
    font-family: EB Garamond, serif !important;
    font-size:1.5em !important;
 }

.drop {
    background-color:blue;
}

.menu {
    margin:0 !important;
}

/*----------------------------- pollsPage ------------------------------*/


 .accordion .title {
  -webkit-transition: background 0.1s ease, color 0.1s ease;
  transition: background 0.1s ease, color 0.1s ease;
  color:#444 !important;
  &:hover { color:#111 !important;}
}

$welcome_place : floor((3/8));

// 

.pollsPage {
   // @include background-class-mixin("https://res.cloudinary.com/dxnxfwsok/image/upload/c_scale,w_1500/v1520441040/apples_zwspop.jpg",cover,white) 
   position:relative;
   width: 100%;
   height: 100%;
   overflow:hidden;
   margin:0 !important;

    .welcome_class{
        padding:4%;
        height:100%;
        background:rgba(70,30,20,.4);
        color: #eee;
        text-align:center;
        & h2,& h3 {font-family: Julius Sans One !important;}
    }
}

.createdAt { float: right !important; }

.myPollsView {
      max-height:90vh !important;
      border:1px solid #eee;
      overflow:scroll;
      display:tabel-cell !important;
      vertical-align: middle !important;
}

.pollsAcordion {
    width:100% !important;
    max-height:100% !important;
}

.pollQuestion {
    word-wrap: break-word;
    white-space:nowrap;
    max-width:520px;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}


/*----------------------------- Modal ------------------------------*/
.dimmer { 
    background-color: rgba(0,0,0,.8) !important;
}

.modalHeader {
    background-color:lighten(#a97,30%) !important;
    color:#532 !important;
    font-family: Julius Sans One !important;
}


.modalContent {
    color:#754 !important;
    font-family: EB Garamond, serif !important;
    & > h3 { font-family: EB Garamond, serif !important; }
}

.selection{
    color: lighten(#655,20%) !important;
    font-size: 1.3em !important;
    font-family: EB Garamond, serif !important;
}


//------------ add a New Poll --------------

.addNewPoll {
   position:relative;
   width: 100%;
   height: 100%;
   overflow:hidden;
   margin:0 !important;
  // background:rgba(0,0,0,.1);
/*    &::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 100%;
        top: 0%;
        z-index:-1;
        left: -125%;
        background: url("https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e480962c9c0c092d7b006c04a9e2ab24&auto=format&fit=crop&w=1298&q=80") 0 0 repeat;
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }*/
    
}

.addNewPollForm {
    background:rgb(255,250,250) !important;
}

// ------------- poll page --------------
.pollPage {
    min-height:100% !important;
    margin:0 !important;
   // background:#cfc5bf !important;
   background: linear-gradient(to right, #c0bdaa, #d0cdba, #e0ddca)
}



.pieChart {
    padding:0 !important; 
    background:lighten(#ba8,30%) !important;
    //        background: 'linear-gradient(to right, #c0bdaa, #d0cdba, #e0ddca)',

    margin:0 !important;
    position : relative;
    -webkit-box-shadow: 0px 3px 10px 3px rgba(100,100,100,.4);
           -moz-box-shadow: 0px 3px 10px 3px rgba(100,100,100,.4);
                box-shadow: 0px 3px 10px 3px rgba(100,100,100,.4);
}

.pieChart div.texts:hover, path.slicesEnter:hover{
    cursor:pointer !important;
}
